h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: flex;
}

ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

img {
    display: block;
    /* width: 100%; */
    height: auto;
}

/* .link {
    display: flex;
}*/

body {
    background-color: #ffffff;
    color: #757575;
    font-family: Roboto, sans-serif;
    /* letter-spacing: 0.03em; */
    /* margin: 0; */

}


/* .page-header {
    border-bottom: 1px solid #ececee;
} */

.page-header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 215px; */
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
}

/* =================== Логотип ===================== */

.logo {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;

}

.web {
    color: #2196F3;

}

.studio {
    color: #000000;

}

/* =================== Навігаційне меню ===================== */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;

    /* max-width: 1170px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px; */

}

.menu-nav {
    display: flex;
    margin-left: 93px;
    align-items: center;
}

.menu-nav .link:hover,
.header-contact .link:hover {
    color: #2196f3;
}

/* .header-contact .link:hover {
    color: #2196f3;
} */

.menu-nav__item {
    margin-right: 50px;
}

.menu-nav__link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-contact {
    display: flex;
}

.header-contact li:nth-child(2) {
    margin-left: 50px;
}

.header-contact__link {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* ============================= Герой ============================ */

.hero {
    height: 600px;
    background-color: darkslategrey;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hero-title {
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #FFFFFF;

    text-align: center;
    text-transform: uppercase;

    margin-bottom: 30px;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    /* text-align: center; */
    cursor: pointer;
}

.hero-button:hover {
    background-color: #188CE8;
}


/* ====================== особливості (feature) =============================== */


.feature {
    margin-top: 94px;
    margin-bottom: 94px;
    width: 100%;
    /* padding-left: 215px;
    padding-right: 215px; */
}

.feature-list {
    display: flex;
    justify-content: space-between;

}


.feture-item {
    width: 270px;
}

.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.feature-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: #757575;
}

.wrap-icon {
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 25px 102px;
}