h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a{
    text-decoration: none;
}
ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

body {
    margin: 0;
}

.page-header {
    height: 80px;
    border-bottom: 1px solid #ececee;
}

.contanier {
    display: flex;
    justify-content: space-around;
}

.web {
    color: #2196F3;
    font-size: 26px;
    font-family: 'Raleway';
    font-weight: 700;
}

.studio {
    color: #000000;
    font-size: 26px;
    font-family: 'Raleway';
    font-weight: 700;
}